* {
    font-family: Arial;
}

body {
    background-image: url(dessert-hill.gif);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: justify;
    color: aliceblue;
}

h1 {
    text-decoration: underline;
}

section {
    text-align: right;
    background-color: rgb(227, 227, 59);
    color: black;
    list-style-image: url(tick.png);
    list-style-position: inside;
}
