h1, h2 {
    background-color: black;
    color: white;
    text-align: center;
}


p {
    color: green;
}


#primera ul li {
    font-style: italic;
}


#especial  {
    font-weight: bold;
}

#segundo dt ,dd {
    color: blue;
}